html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}




.header-sub-header h1 {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #999, 4px 4px 8px #666;
  margin: 0;
  background-color: #dcd6f7; /* optional */
  padding: 20px;
}
